.comment {

  &__item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;

    &-avatar {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    &-content {
      flex: 1;
      margin-left: 16px;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      font-size: 28px;
      color: #999;
    }

    &-nickname {
      color: #3296FA;
    }

    &-body {
      font-size: 34px;
    }
  }
}
