.page-my {
  position: relative;

  .user {
    &__header {
      height: 360px;
      background-color: rgba(50, 150, 250, 1);

      &-logout {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        box-sizing: border-box;
      }

      &-login {
        padding-top: 40px;
      }

      &-top {
        display: flex;
        align-items: center;
        padding-left: 40px;
        box-sizing: border-box;
      }

      &-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
      }
    }

    &__login {
      width: 132px;
      height: 132px;
      text-align: center;
      line-height: 132px;
      color: #000;
      font-size: 34px;
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(255, 255, 255, 1);
      border-radius: 50%;
    }

    &__avatar {
      width: 130px;
      height: 130px;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    &__bio {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
    }

    &__nickname {
      font-size: 30px;
      color: rgba(255, 255, 255, 1);
    }

    &__job {
      align-self: baseline;
      color: rgba(50, 150, 250, 1);
      padding: 4px 18px;
      height: 32px;
      line-height: 32px;
      margin-top: 22px;
      font-size: 20px;
      font-weight: bold;
      border-radius: 16px;
      background: rgba(255, 255, 255, 1);
    }

    &__article,
    &__follow,
    &__fans {
      flex: 1;
      text-align: center;
      color: #fff;
      font-size: 36px;
    }

    &__bottom-text {
      display: block;
      font-size: 23px;
      color: rgba(255, 255, 255, 1);
    }

    &__menu {
      overflow: hidden;
      width: 100%;

      &-item {
        display: flex;
        justify-content: space-between;
        height: 90px;
        line-height: 90px;
        font-size: 30px;
        color: rgba(51, 51, 51, 1);
        border-bottom: 1PX solid #EDEFF3;

        &-text {
          display: flex;
          align-items: center;
          margin-left: 40px;
        }

        &-icon {
          width: 40px;
          margin-right: 26px;
        }

        &-arrow {
          height: 21px;
          color: #9F9F9F;
          margin-right: 30px;
        }
      }
    }
  }
}
